*.ioc
.mxproject
MDK-ARM/*.uvguix.*
MDK-ARM/*.uvoptx
MDK-ARM/DebugConfig/
MDK-ARM/RTE/
MDK-ARM/XY_Platform_Motion_Control/
__pycache__/
*.pyc
*.lst
gui/ai_request.txt
gui/output.gcode.txt
gui/crash.log
gui/gcode_debug.log
all.json
gui/hanzi_gcode_tool/hanzi_writer_data/
